.channel .item {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.channel .item .time{
    width: 100px;
    padding: 20px 10px 20px 20px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    justify-content: center;
    color: #ff1577;
}

.channel .item .detail {
    flex: 1 1 auto;
    display: flex;
    padding: 20px 20px 20px 10px;
    flex-direction: column;
}

.channel .detail .title {
    flex: 1 1 auto;
    font-size: 16px;
}

.channel .detail .link {
    flex: 1 1 auto;
    font-size: 12px;
}