.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 780px;
    background: #ffffff;
}

.container {
    flex: 1 1 auto;
    padding: 20px;
    overflow: auto;
    height: 100vh;
}

