.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 780px;
    background: #ffffff;
}

.content {
    flex: 1 1 auto;
    overflow: auto;
    height: 100vh;
    position: relative;
}

.primary-style {
    background: #ff006b;
    color: #ffffff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 1 auto;
    display: flex;
}

.secondary-style {
    background: #ffffff;
    color: #222222;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.padding-20 {
    padding: 20px;
}